body{
	color:black;
	text-align: center;
}

.container{
	background-color: black;
  width: 100%;
}

h1{
	color:white;
	padding: 15px 10px;
	background: black
}

h1:nth-child(odd) {
	color: black;
	text-shadow: 5px;
	margin:0;
	background: rgb(247, 164, 0);
}

.menu{
	background:white
}

.Color_Picker{
	margin-top: 50px;
}

.colors{
	float:right;
	border-width:3px;
	border-color: white;
}
.colorPick{
	height:20px;
	width:45px;
	float:left;
	clear:both;
	border-width:2px;
	border-color: black;
}

.clearcolor{
float:left;
}

.tetrisButton{
	position: relative;
}
.tetrisControls{
	font-size: 5em;
	color: white;
	border-radius: 100%
	border-style:solid;
	min-height: 50px;
	display:none;
	position: relative;
}
